<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма заказа мороженного</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<!--POST form-->
<form action="/luggage/" method="POST">
<!--    Для защиты формы-->
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.surname.label }}
        {{ form.surname(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.pass_id.label }}
        {{ form.pass_id(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.luggage_weight.label }}
        {{ form.luggage_weight(class='form-control') }}
    </div>
        {{ form.submit.label }}
        {{ form.submit(class='btn btn-primary') }}
</form>
</body>
</html>